.instructions-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: var(--text-main);
  font-size: 0.95rem;
  line-height: 1.4;
  margin: 16px 0 32px 0;
  text-align: left;
  width: 100%;
}

.instructions-list p {
  margin: 0;
  background: rgba(255, 255, 255, 0.4);
  padding: 12px;
  border-radius: 8px;
}
